<mat-card>
  <mat-card-content>
      <div class="row justify-content-center">
        <form class="example-form">
          <div class="row justify-content-center">
            <h3>Réinitialisation de votre mot de passe</h3>
          </div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Etrez votre email" #passwordResetEmail required>
            <mat-error>
              Email incorrect
            </mat-error>
          </mat-form-field>
          <div class="row justify-content-center">
            <button mat-raised-button value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)" color="primary">Connexion</button>
          </div>
          <div class="redirectToLogin row justify-content-center">
            <span>Aller à ? <a class="redirect" routerLink="/sign-in">Se connecter</a></span>
          </div>
        </form>

      </div>
  </mat-card-content>
</mat-card>