<mat-card>
  <mat-card-content>
      <h3>Réinitialisation de mot de passe</h3>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Etrez votre email" #passwordResetEmail required>
          <mat-error>
            Email incorrect
          </mat-error>
        </mat-form-field>
        <button mat-raised-button value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)" color="primary">Connexion</button>
      </form>
  </mat-card-content>
    <div class="redirectToLogin">
      <span>Aller à ? <a class="redirect" routerLink="/sign-in">Se connecter</a></span>
    </div>
</mat-card>