
<div class="row">
  <div class="col-md-6">
    <h2>Liste des commandes en attente</h2>
    <div class="form-group" >
      <input type="text" id="searchInput" style="text-align:center" class="form-control text-center" [(ngModel)]="searchInput" placeholder="Search for names..">
    </div>
    
    <table mat-table class ="table">
      <thead>
        <tr color="warn">
                
          <th data-field="id" data-filter-control="input" data-sortable="true">Numero</th>
          <th data-field="name" data-filter-control="input" data-sortable="true">Nom</th>
          <th data-field="adresse" data-filter-control="input" data-sortable="true">Adresse</th>
          <th>Actions</th>
         </tr>
      </thead>
      <tbody id="table1">
      <tr *ngFor="let order of orders | filter: searchInput | paginate: config; let i = index">
        <td>
          {{i}}
        </td>
        <td>
          {{order.clientName}}
        </td>
        <td *ngIf="order.clientLocation.district" >
          {{order.clientLocation.district}}
        </td>
        <td *ngIf="!order.clientLocation.district" >
          Non disponible
        </td>
        
        <td>
          
          <button mat-raised-button (click)="onViewOrder(order,i)">
            <mat-icon class="material-icons" color="warn">
            visibility
            </mat-icon> 
          </button>
          <button mat-raised-button (click)="openDialog(order.clientLocation)">
            <mat-icon class="material-icons contact" color="warn">
              location_on
            </mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
  <div class="col-md-6" *ngIf="order.clientName">
    <div class="card shadow-lg p-3 mb-5 bg-black rounded" style="width: 28rem;">
      <div class="card-body">
        <div>
          <div class="contact-info">
            <h2><mat-icon class="material-icons contact" color="warn">
              account_circle
              </mat-icon>Nom:
               <span>{{order.clientName}}</span>
              </h2>
            <h2>
              <mat-icon class="material-icons contact" color="warn">
              location_on
              </mat-icon>
              Adresse: <span> {{order.clientLocation}}</span>
            </h2>
            <h2><mat-icon class="material-icons contact" color="warn">
              phone
              </mat-icon>Numero: <span> {{order.clientNumber}}</span>
            </h2>
          </div>
          <table class ="table">
            <thead>
              <tr>
                      
                <th data-field="id" data-filter-control="input" data-sortable="true">Menu</th>
                <th data-field="name" data-filter-control="input" data-sortable="true">Nombre</th>
               </tr>
            </thead>
            <tr *ngFor="let food of order.foodList" > 
              <td><strong>{{food.name}}</strong></td>
              <td><strong>{{food.numberOfItem}}</strong></td>
            </tr>
          </table>
          
          <h2>Total: <span> {{order.total}}</span></h2>
        </div>
        <h5 class="card-title text-center"> <button mat-raised-button color="warn"   (click)="finish(order)"> Traiter </button></h5>
      </div>
    </div>
  </div>
</div>
