<div class="container">
    <h1>Miam commandez en ligne</h1>
<div> Miam est une application qui vous offre la possibilité d’explorer les <strong>restaurants</strong> 
    de votre localité ou 
    de votre choix, de passer votre 
    <strong>commande en ligne</strong> 
    et vous faire 
    <strong>livrer rapidement a domicile ou au service</strong>
    . Elle existe en version <strong>application mobile</strong> disponible sur PlayStore et/ou AppStore et en version 
    <strong>plateforme web</strong>.
</div>

</div>