<footer class="footer_area position-relative">
    <div class="container">
        <div class="row">               
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Contacts</h4>
                    <ul>
                        <li>hlm2, rue 79 villa 671, Dakar, Senegal</li>
                        <li>(+221) 77 402 19 92 <br> (+064) 336 987 245</li>
                        <li>Contact@referencentic.com</li>
                    </ul>
                </div>
            </div> <!--  End Col -->
            
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Information</h4>
                    <ul>
                        <li><a href="#">A propos</a></li>
                        <li><a href="#">Information livraison</a></li>
                        <li><a href="#">Politique de confidentialité</a></li>
                        <li><a href="#">Termes & Conditions</a></li>
                        <li><a href="#">Nous contacter</a></li>
                    </ul>
                </div>
            </div> <!--  End Col -->
          
            
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Newsletter</h4>
                    <div class="newsletter_form">
                        <p>S'abonner a la newsletter pour recevoir nos offres en temps reels </p>
                        <form method="post" class="form-inline">                
                            <input name="EMAIL" id="email" placeholder="Enter Your Email" class="form-control" type="email">
                            <button  type="submit" mat-raised-button>S'abonné</button>
                        </form>
                    </div>
                </div>
            </div> <!--  End Col -->
            
        </div>
    </div>


    <div class="ftr_btm_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ftr_social_icon">
                        <a href="#" class="fa fa-facebook" ></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <p class="copyright_text text-center">© 2019 All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>