<footer class="footer_area position-relative">
    <div class="container">
        <div class="row">               
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Contacts</h4>
                    <ul>
                        <li>Dassasgho sect 43 Ouagadougou, Burkina Faso</li>
                        <li> (+226) 72 00 58 94  <br> (+226) 71 85 17 70 <br> (+226) 57 00 05 03</li>
                        <li>contact@referencentic.com</li>
                    </ul>
                </div>
            </div> <!--  End Col -->
            
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Information</h4>
                    <ul>
                        <li><a [routerLink]="['/private-policy']">Politique de confidentialité</a></li>
                        <li><a [routerLink]="['/term']">Termes & Conditions</a></li>
                    </ul>
                </div>
            </div> <!--  End Col -->
          
            
            <!-- <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Newsletter</h4>
                    <div class="newsletter_form">
                        <p>S'abonner a la newsletter pour recevoir nos offres en temps réels </p>
                        <form method="post" class="form-inline">                
                            <input name="EMAIL" id="email" placeholder="Enter Your Email" class="form-control" type="email">
                            <button  type="submit" mat-raised-button>S'abonner</button>
                        </form>
                    </div>
                </div>
            </div>  -->
            
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-sm-4">
                        <div class="">
                            <a href="https://www.facebook.com/R%C3%A9f%C3%A9rence-NTIC-100377791758264">
                                <span class="material-icons fb">
                                facebook
                                </span>
                            </a>
                            <a href="https://www.instagram.com/accounts/login/?next=/reference_ntic/%3Figshid%3D1xrpsuyz3m15z" class="fa fa-instagram">
                                <span class="material-icons">
                                    instagram
                                    </span>
                            </a>
                            <a href="https://wa.me/22672005894" class="fa fa-whatsapp">
                                <span class="material-icons">
                                    whatsapp
                                </span>
                            </a>
                        </div>
                    </div> -->
                    <div class="col-sm-8">
                        <p class="copyright_text text-center">© 2019 All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>