<nav *ngIf="authService.isLoggedIn" >
  <ul class="nav justify-content-center">
    <li class="nav-item"> <a class="nav-link" [routerLink]="['order/waiting']"> Commande  <span class="sr-only">(current)</span> </a> </li>
    <li class="nav-item"> <a class="nav-link"[routerLink]="['order/delivered']" > Livrer </a> </li>
    <li class="nav-item"> 
      <a class="nav-link"[routerLink]="['food']"> 
      Menu 
      </a> 
    </li>
    <li class="nav-item"> 
      <a class="nav-link" (click)="authService.SignOut()"> 
      Deconnexion
      </a> 
    </li>
  </ul>
</nav>