<div class="side-div" style="height: 80vh;">
  <mat-toolbar color="warn" class="expanded-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <a class="a-logo" mat-button href=""><img class="logo" src="assets/logos/miam/miam2.png" alt="" ></a>
      <a mat-list-item class="shop-mobile" *ngIf="isUser"  > 
        <mat-icon matBadge={{itemNumber}} [routerLink] = "['order-page']" matBadgeColor="warn">shopping_cart</mat-icon>
      </a> 
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a mat-button   [routerLink]="['/']"> Accueil  <span class="sr-only">(current)</span> </a>
        <a mat-button   [routerLink]="['order/waiting']" *ngIf="isResto"> Commande  <span class="sr-only">(current)</span> </a>
        <a mat-button   [routerLink]="['order/admin']" *ngIf="isAdmin"> Les commandes  <span class="sr-only">(current)</span> </a>
        <!-- <a mat-button  [routerLink]="['order/delivered']" *ngIf="currentUser !== null"> Livrer </a> -->
        
          <a mat-button  [routerLink]="['my-order']" *ngIf="isUser"> 
          Mes commandes 
          </a> 
          <a mat-button  [routerLink]="['sign-in']" *ngIf="currentUser === null"> 
          Se connecter 
          </a> 
          <a mat-button  [routerLink]="['about']" *ngIf="currentUser === null"> 
          A propos
          </a> 
          <a mat-button  [routerLink]="['food']" *ngIf="isResto || isAdmin"> 
          Mes plats 
          </a> 
          <a mat-button  [routerLink]="['order/deliverer']" *ngIf="isDeliver || isAdmin"> 
          Livraison 
          </a> 
          <a mat-button  [routerLink]="['account']" *ngIf="currentUser !== null"> 
          Mon compte 
          </a> 
          <span class="example-spacer"></span>
          <a mat-button   (click)="authService.SignOut()" *ngIf="currentUser !== null" > 
            Deconnexion
          </a>
            <mat-icon *ngIf="isUser" matBadge={{itemNumber}} [routerLink] = "['order-page']" matBadgeColor="warn">shopping_cart</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- mobile menu nav-->
<mat-sidenav-container [hasBackdrop]="false" >
  <mat-sidenav #sidenav [opened]="isShowing"  >
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="" class="btn-back" mat-list-item>Retour</a>
      <div class="restaurant" *ngIf="isUser">
        <!--<button color="warn" class="btn-resto" mat-menu-item [matMenuTriggerFor]="restaurants" >
          Nos Restaurants
          <span class="material-icons arrow-resto">
            arrow_right_alt
          </span>
        </button>
        <mat-menu #restaurants="matMenu" yPosition="above">
          <button class="btn-item" mat-menu-item >Fishes</button>
          <button class="btn-item" mat-menu-item >Amphibians</button>
          <button class="btn-item" mat-menu-item >Reptiles</button>
          <button class="btn-item" mat-menu-item>Birds</button>
          <button class="btn-item" mat-menu-item>Mammals</button>
        </mat-menu>
        !-->
      </div>
      <div class="restaurant" *ngIf="currentUser === null">
        <button color="warn" class="btn-resto" mat-menu-item [matMenuTriggerFor]="Categories" >
          Categories
          <span class="material-icons arrow-resto">
            arrow_right_alt
          </span>
        </button>
        <mat-menu #Categories="matMenu" yPosition="above" >
          <div *ngFor="let item of categories">
            <button class="btn-item" (click)="getNotificaton(item)"  mat-menu-item >{{item.name}}</button>
          </div>
        </mat-menu>
    </div>
        <a mat-list-item   (click)="sidenav.toggle(); authService.SignOut()" *ngIf="currentUser !== null" > 
          Deconnexion
        </a> 
        <span class="example-spacer"></span>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">  
      <router-outlet></router-outlet>
      <app-footer> </app-footer>
      <div class="botton-nav">
        <ngx-bottom-nav [items]="items"></ngx-bottom-nav>
      </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</div>
