.mat-badge-warn .mat-badge-content {
    color: #f44336;
    background: white;
}   
.example-spacer {
    flex: 1 1 auto;
  }

@media ( max-width: 576px ) {
    a .logo { 
        max-width: 35%; 
    }
    .btn-resto {
        width: 83%;
        border-radius: 10px;
        justify-content: center;
        margin-bottom: 7%;
    }
    .arrow-resto {
        position: relative;
        top: 6px;
    }
    .botton-nav {
        display: block;
    }
}
@media all and ( min-width:576px ) {
    a .logo { 
        max-width: 100%; 
    }
    .a-logo {
        max-width: 20%;
        text-align: center;
    }
    .botton-nav {
        display: none;
    }
}
@media all and ( min-width:768px )  {
    a .logo { 
        max-width: 100%; 
    }
    .a-logo {
        max-width: 16%;
    }
}
.menu-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar.mat-warn {
    padding: 0 10%;
  }
  ::ng-deep .mat-sidenav-backdrop.mat-sidenav-shown{
    display: none;
}
mat-toolbar.mat-toolbar.expanded-toolbar.mat-warn.mat-toolbar-multiple-rows {
    padding: 0 7%;
}
.btn-back {
    background-color: black;
    color: white;
}
.btn-resto {
    width: 95%;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 7%;
}
.btn-resto:hover, .btn-resto:active {
    color: white;
    background-color: #f44336;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent);
}
.btn-item{
    color: white;
    background-color: #f44336;    /* color of the scroll thumb */
          /* roundness of the scroll thumb */
}
.btn-item:hover, .btn-item:active {
    color: white;
    background-color: #f44336;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent);
}
.arrow-resto {
    position: relative;
    top: 6px;
}


.mat-drawer-container {
background-color: #EBEDEF;
}
ngx-bottom-nav {
    background-color: #f44336;
    position: fixed;
    bottom: 0;
}
::ng-deep .material-icons{
    color: white;
}
::ng-deep .label {
    color: white;
}
::ng-deep .ngx-bottom-nav-button {
    margin-top: 7%;
}