

  table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
.checkout {
    margin-bottom: 7%;
    padding-bottom: 3%;
}
.container {
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background: white;
    border-radius: 5px;
}
span.number-item {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    top: -7px;
    font-weight: bold;
}
span.add{
  color: #f44336;
}
span.remove{
  margin-right: 5%;
}
@media ( max-width: 576px ) {
  .example-container {
    height: 270px;
    overflow: auto;
  }
  .container {
    max-width: 100%;
  }
}
@media all and ( min-width:576px ) {
  .example-container {
    height: 270px;
    overflow: auto;
  }
  .container {
    max-width: 85%;
  }
}
@media all and ( min-width:768px ) {
  .example-container {
    height: 270px;
    overflow: auto;
  }
  .container {
    max-width: 70%;
  }
}
.checkout {
  text-align: center;
}
th {
  color: #f44336;
}
.action {
  text-align: center;
}
.material-icons {
  color: #f44336;
}