.example-form .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
mat-card-content.mat-card-content {
  text-align: center;
  
}
form {
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 100%;
}
.back-btn {
  margin-right: 10%;
  background-color: black;
  color: white;
}
mat-card {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/flutterfoodapp-aa0df.appspot.com/o/categories%2Ffood.jpg?alt=media&token=0047c161-d103-416b-99ef-d97506700847');
}
@media ( max-width: 576px ) {
  .form-field {
    overflow: auto;
    height: 400px;
  }
}
@media all and ( min-width:576px ) {
  .form-field {
    overflow: auto;
    height: 400px;
  }
}
form{
  padding-bottom: 10px;
}
.sigin-link {
  margin-top: 10px;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  margin: 10%;
}