<div class="container">
  <div class="row row-cotainer">
    <div class="col-md-3 category flex-row flex-nowrap">
        <div class="restaurant">
            <button color="warn" class="btn-resto" mat-menu-item [matMenuTriggerFor]="vertebrates" >
              Nos Rostaurants
              <span class="material-icons arrow-resto">
                arrow_right_alt
              </span>
            </button>
            <mat-menu #vertebrates="matMenu" yPosition="above">
              <button class="btn-item" mat-menu-item >Fishes</button>
              <button class="btn-item" mat-menu-item >Amphibians</button>
              <button class="btn-item" mat-menu-item >Reptiles</button>
              <button class="btn-item" mat-menu-item>Birds</button>
              <button class="btn-item" mat-menu-item>Mammals</button>
            </mat-menu>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-4 cat-img justify-content-center">
              <img src="https://cdn.pratico-pratiques.com/app/uploads/sites/2/2019/04/23104327/poulet-barbecue-sur-canette-de-biere.jpg"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
            </div>
            <div class="span-div">
              <span>category</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-4 cat-img justify-content-center">
              <img src="https://cdn.pratico-pratiques.com/app/uploads/sites/2/2019/04/23104327/poulet-barbecue-sur-canette-de-biere.jpg"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
            </div>
            <div class="span-div">
              <span>category</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-4 cat-img justify-content-center">
              <img src="https://cdn.pratico-pratiques.com/app/uploads/sites/2/2019/04/23104327/poulet-barbecue-sur-canette-de-biere.jpg"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
            </div>
            <div class="span-div">
              <span>category</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-4 cat-img justify-content-center">
              <img src="https://cdn.vox-cdn.com/thumbor/Qu3Q4hfjjckujqLQ4eA7H03-3nk=/0x39:650x472/1200x800/filters:focal(0x39:650x472)/cdn.vox-cdn.com/assets/960660/Screen_Shot_2012-02-20_at_11.36.09_AM.png"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
            </div>
            <div class="span-div">
              <span>category</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-4 cat-img justify-content-center">
              <img src="https://cdn.vox-cdn.com/thumbor/Qu3Q4hfjjckujqLQ4eA7H03-3nk=/0x39:650x472/1200x800/filters:focal(0x39:650x472)/cdn.vox-cdn.com/assets/960660/Screen_Shot_2012-02-20_at_11.36.09_AM.png"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
            </div>
            <div class="span-div">
              <span>category</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-4 cat-img justify-content-center">
              <img src="https://cdn.vox-cdn.com/thumbor/Qu3Q4hfjjckujqLQ4eA7H03-3nk=/0x39:650x472/1200x800/filters:focal(0x39:650x472)/cdn.vox-cdn.com/assets/960660/Screen_Shot_2012-02-20_at_11.36.09_AM.png"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
            </div>
            <div class="span-div">
              <span>category</span>
            </div>
        </div>
    </div>
    <div class="col-md-9">
      <div class="carde border-dark">
        <img src="https://i.ytimg.com/vi/8bXlyk0ITAE/maxresdefault.jpg" class="card-img" alt="...">
      </div>
    </div>
   <!--  <div class="col-md-2 category flex-row flex-nowrap">
        <div class="row justify-content-center">
          <div class="col-md-2 col-4 cat-img">
            <div class="row justify-content-center">
              <img src="https://cdn.vox-cdn.com/thumbor/Qu3Q4hfjjckujqLQ4eA7H03-3nk=/0x39:650x472/1200x800/filters:focal(0x39:650x472)/cdn.vox-cdn.com/assets/960660/Screen_Shot_2012-02-20_at_11.36.09_AM.png"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
              <span>category</span>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-2 col-4 cat-img">
            <div class="row justify-content-center">
              <img src="https://cdn.vox-cdn.com/thumbor/Qu3Q4hfjjckujqLQ4eA7H03-3nk=/0x39:650x472/1200x800/filters:focal(0x39:650x472)/cdn.vox-cdn.com/assets/960660/Screen_Shot_2012-02-20_at_11.36.09_AM.png"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
              <span>category</span>
            </div>
          </div>

        </div>

        <div class="row justify-content-center">
          <div class="col-md-2 col-4 cat-img">
            <div class="row justify-content-center">
              <img src="https://cdn.vox-cdn.com/thumbor/Qu3Q4hfjjckujqLQ4eA7H03-3nk=/0x39:650x472/1200x800/filters:focal(0x39:650x472)/cdn.vox-cdn.com/assets/960660/Screen_Shot_2012-02-20_at_11.36.09_AM.png"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
              <span>category</span>
            </div>
          </div>

        </div>

        <div class="row justify-content-center">
          <div class="col-md-2 col-4 cat-img">
            <div class="row justify-content-center">
              <img src="https://cdn.vox-cdn.com/thumbor/Qu3Q4hfjjckujqLQ4eA7H03-3nk=/0x39:650x472/1200x800/filters:focal(0x39:650x472)/cdn.vox-cdn.com/assets/960660/Screen_Shot_2012-02-20_at_11.36.09_AM.png"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
              <span>category</span>
            </div>
          </div>

        </div>

        <div class="row justify-content-center">
          <div class="col-md-2 col-4 cat-img">
            <div class="row justify-content-center">
              <img src="https://cdn.vox-cdn.com/thumbor/Qu3Q4hfjjckujqLQ4eA7H03-3nk=/0x39:650x472/1200x800/filters:focal(0x39:650x472)/cdn.vox-cdn.com/assets/960660/Screen_Shot_2012-02-20_at_11.36.09_AM.png"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
              <span>category</span>
            </div>
          </div>

        </div>

        <div class="row justify-content-center">
          <div class="col-md-2 col-4 cat-img">
            <div class="row justify-content-center">
              <img src="https://cdn.vox-cdn.com/thumbor/Qu3Q4hfjjckujqLQ4eA7H03-3nk=/0x39:650x472/1200x800/filters:focal(0x39:650x472)/cdn.vox-cdn.com/assets/960660/Screen_Shot_2012-02-20_at_11.36.09_AM.png"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
              <span>category</span>
            </div>
          </div>

        </div>

        <div class="row justify-content-center">
          <div class="col-md-2 col-4 cat-img">
            <div class="row justify-content-center">
              <img src="https://cdn.vox-cdn.com/thumbor/Qu3Q4hfjjckujqLQ4eA7H03-3nk=/0x39:650x472/1200x800/filters:focal(0x39:650x472)/cdn.vox-cdn.com/assets/960660/Screen_Shot_2012-02-20_at_11.36.09_AM.png"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
              <span>category</span>
            </div>
          </div>

        </div>

        <div class="row justify-content-center">
          <div class="col-md-2 col-4 cat-img">
            <div class="row justify-content-center">
              <img src="https://cdn.vox-cdn.com/thumbor/Qu3Q4hfjjckujqLQ4eA7H03-3nk=/0x39:650x472/1200x800/filters:focal(0x39:650x472)/cdn.vox-cdn.com/assets/960660/Screen_Shot_2012-02-20_at_11.36.09_AM.png"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
              <span>category</span>
            </div>
          </div>

        </div>

        <div class="row justify-content-center">
          <div class="col-md-2 col-4 cat-img">
            <div class="row justify-content-center">
              <img src="https://cdn.vox-cdn.com/thumbor/Qu3Q4hfjjckujqLQ4eA7H03-3nk=/0x39:650x472/1200x800/filters:focal(0x39:650x472)/cdn.vox-cdn.com/assets/960660/Screen_Shot_2012-02-20_at_11.36.09_AM.png"
                          alt="avatar mx-auto white" class="rounded-circle img-fluid">
              <span>category</span>
            </div>
          </div>

        </div>
    </div> -->
  </div>
    <div class="search-text">
      <strong> Tapez le nom du plat</strong>
    </div>
    <div class="search-box row">
      <div class="ng-autocomplete complete-box">
        <ng-autocomplete
          [data]="foods"
          [(ngModel)]="searchText"
          [searchKeyword]="keyword"
          placeHolder="Enter the State Name"
          historyIdentifier="states"
          [itemTemplate]="itemTemplate"
          (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)'
          [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
        <mat-icon matPrefix class="search-icon">search</mat-icon>
      
        <ng-template #itemTemplate let-item>
          <div class="item">
            <span [innerHTML]="item.name"></span> &nbsp;
            <small>Chez: {{item.restaurant}}</small>
          </div>
        </ng-template>
      
        <ng-template #notFoundTemplate >
          <div> Aucun plat n'a été trouvé</div>
        </ng-template>
      </div>
    </div>
    <div class="presentation" *ngIf="searchText === ''" >
      <div class="offre">
        <div ><h3 class="speciale">Offres spéciales</h3></div>
        <div  class="fast-food row">
            <div *ngFor="let item of specialFoods | foodFilter: searchText" class="col-md-3">
                <div class="card">
                    <div class="card-image">
                      <img class="img-size" src= "{{ item.imagePath }}">
                      <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="openDialog(item)">
                        <i class="material-icons">add_shopping_cart</i>
                      </a>
                    </div>
                    <div class="card-content">
                      <span class="card-title">{{ item.name }}</span>
                      <div class="truncate " > {{ item.description }} </div>
                    </div>
                    <div class="card-action">
                      <span class="left-align"><i>{{ item.restaurant }}</i></span>
                      <span class="right-align">{{ item.price }} F</span>
                    </div>
                </div>
            </div>  
        </div>
      </div>
      <div class="offre">
        <div><h3 class="burkinabe">Cuisine burkinabe</h3> </div>
        <div class="fast-food row">
          <div *ngFor="let item of burkinabeFoods | foodFilter: searchText" class="col-md-3">
            <div class="card">
                <div class="card-image">
                  <img class="img-size" src= "{{ item.imagePath }}">
                  <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="openDialog(item)">
                    <i class="material-icons">add_shopping_cart</i>
                  </a>
                </div>
                <div class="card-content">
                  <span class="card-title">{{ item.name }}</span>
                  <div class="truncate " > {{ item.description }} </div>
                </div>
                <div class="card-action">
                  <span class="left-align"><i>{{ item.restaurant }}</i></span>
                  <span class="right-align">{{ item.price }} F</span>
                </div>
            </div>
        </div>    
        </div>
      </div>
    </div>
    <div class="result">
      <div  class="fast-food row" *ngIf="searchText !== ''" >
        <div *ngFor="let item of foods | foodFilter: searchText" class="col-md-3">
            <div class="card">
                <div class="card-image">
                  <img class="img-size" src= "{{ item.imagePath }}">
                  <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="openDialog(item)">
                    <i class="material-icons">add_shopping_cart</i>
                  </a>
                </div>
                <div class="card-content">
                  <span class="card-title">{{ item.name }}</span>
                  <div class="truncate " > {{ item.description }} </div>
                </div>
                <div class="card-action">
                  <span class="left-align"><i>{{ item.restaurant }}</i></span>
                  <span class="right-align">{{ item.price }} F</span>
                </div>
            </div>
        </div>  
        <div class="example-container mat-elevation-z2" *ngIf="foods?.length" >
          <h1 class="text-center">Aucun plat n'est present pour cette categorie</h1>
        </div>
      </div>
    </div>
  
    <div class="application">
      <div class="row">
        <div class="col-md-6">
          <div class="title">
            <h1>Commander de la nourriture</h1>
          </div>
          <div class="description">
            <h4>L'application Miam permet à n'importe qui d'utiliser un appareil mobile pour consulter le menu des meilleurs vendeurs et passer une commande pour une livraison à domicile.</h4>
          </div>
          <div class="download"> 
            <img src="../../../assets/images/android.png" alt="" srcset="">
            <img src="../../../assets/images/ios.png" alt="" srcset="">
          </div>
        </div>
        <div class="col-md-6 mobile">
          <img class="mobile-img" src="" alt="" srcset="">
        </div>
      </div>
    </div>
</div>