<div class="container">
  <div class="row row-cotainer">
    <div class="col-md-3 category flex-row flex-nowrap">
        <!--<div class="restaurant">
            <button color="warn" class="btn-resto" mat-menu-item [matMenuTriggerFor]="vertebrates" >
              Nos Rostaurants
              <span class="material-icons arrow-resto">
                arrow_right_alt
              </span>
            </button>
            <mat-menu #vertebrates="matMenu" yPosition="above">
              <button class="btn-item" mat-menu-item >Fishes</button>
              <button class="btn-item" mat-menu-item >Amphibians</button>
              <button class="btn-item" mat-menu-item >Reptiles</button>
              <button class="btn-item" mat-menu-item>Birds</button>
              <button class="btn-item" mat-menu-item>Mammals</button>
            </mat-menu>
        </div> !-->
        <div *ngFor="let item of categories" >
          <div class="row btn-item-cat" (click)="getNotificaton(item)">
              <div class="col-md-6 col-4 cat-img justify-content-center">
                <img [lazyLoad]="item.image"
                            alt="food" class="rounded-circle img-fluid">
                            <span> {{item.name}} </span>
              </div>
              
          </div>
        </div>
    </div>
    <div class="col-md-8">
      <div class="carde border-dark">
        <mat-carousel
          timings="250ms ease-in"
          [autoplay]="true"
          interval="3500"
          color="warn"
          maxWidth="auto"
          proportion="49"
          slides="3"
          [loop]="true"
          [hideArrows]="false"
          [hideIndicators]="false"
          [useKeyboard]="true"
          [useMouseWheel]="false"
          orientation="ltr"
        >
          <mat-carousel-slide
            #matCarouselSlide
            image='https://firebasestorage.googleapis.com/v0/b/flutterfoodapp-aa0df.appspot.com/o/partenaire%2Fpartenaire.png?alt=media&token=ecb3657b-36c0-4608-b108-9d2c0ea862f3'
            overlayColor="#00000040"
            [hideOverlay]="false"
          >
          </mat-carousel-slide>
          <mat-carousel-slide
            #matCarouselSlide
            image='https://firebasestorage.googleapis.com/v0/b/flutterfoodapp-aa0df.appspot.com/o/partenaire%2Flivraison.png?alt=media&token=58c11842-0eb3-4142-b7f5-c86fe8f227a3'
            overlayColor="#00000040"
            [hideOverlay]="false"
          >
          </mat-carousel-slide>
          <mat-carousel-slide
            #matCarouselSlide
            image='https://firebasestorage.googleapis.com/v0/b/flutterfoodapp-aa0df.appspot.com/o/partenaire%2Fstep.png?alt=media&token=4d44c4ab-e7fc-4b8f-a6a7-859e2ac58315'
            overlayColor="#00000040"
            [hideOverlay]="false"
          >
          </mat-carousel-slide>
        </mat-carousel>
      </div>
    </div>
    </div>
    <div class="search-box row">
      <div class="ng-autocomplete complete-box">
        <ng-autocomplete
          [data]="foods"
          [(ngModel)]="searchText"
          [searchKeyword]="keyword"
          placeHolder="Entrez le nom du plat"
          historyIdentifier="states"
          [itemTemplate]="itemTemplate"
          (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)'
          [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
        <mat-icon matPrefix class="search-icon">search</mat-icon>
      
        <ng-template #itemTemplate let-item>
          <div class="item">
            <span [innerHTML]="item.name"></span> &nbsp;
            <small>Chez: {{item.restaurant}}</small>
          </div>
        </ng-template>
      
        <ng-template #notFoundTemplate >
          <div> Aucun plat n'a été trouvé</div>
        </ng-template>
      </div>
    </div>
    <div class="presentation" *ngIf="!checkSearchText" >
      <div class="offre">
        <div ><h3 class="speciale">Offres spéciales</h3></div>
        <div  class="fast-food row">
            <div *ngFor="let item of specialFoods | slice:0:8 | foodFilter: searchText ; let i=index" class="col-md-3">
              <app-food-card [item] = "item"></app-food-card>
            </div>  
        </div>
      </div>
      <div class="offre">
        <div><h3 class="burkinabe">Cuisine burkinabe</h3> </div>
        <div class="fast-food row">
          <div *ngFor="let item of burkinabeFoods | slice:0:8 | foodFilter: searchText ; let i=index" class="col-md-3">
            <app-food-card [item] = "item"></app-food-card>
        </div>    
        </div>
      </div>
    </div>
    <div class="result">
      <div  class="fast-food row" *ngIf="checkSearchText" >
        <div  *ngFor="let item of foods | foodFilter: searchText" class="col-md-3">
          <app-food-card [item] = "item"></app-food-card>
        </div>  
      </div>
    </div>
  
    <div class="application">
      <div class="row">
        <div class="col-md-6">
          <div class="title">
            <h1>Commander de la nourriture</h1>
          </div>
          <div class="description">
            <h4>L'application Miam permet à tout personne d'utiliser un tétéphone mobile ou ordinateur pour consulter les menus des meilleurs restaurants, passer une commande et se faire livrer à domicile.</h4>
          </div>
          <div class="download"> 
            <a ></a>
            <!--<img src = 'https://firebasestorage.googleapis.com/v0/b/flutterfoodapp-aa0df.appspot.com/o/categories%2Fandroid.png?alt=media&token=565ba874-56e9-4e08-b846-3526ef060efa' alt="application mobile" srcset="">
            <img src="" alt="commande en ligne" srcset=""> !-->
          </div>
        </div>
        <div class="col-md-6 mobile">
          <img class="mobile-img" src="" alt="commande en ligne" srcset="">
        </div>
      </div>
    </div>
</div>