.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  mat-card {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/flutterfoodapp-aa0df.appspot.com/o/categories%2Ffood.jpg?alt=media&token=0047c161-d103-416b-99ef-d97506700847');
  }
  form {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 100%;
  }
  ::ng-deep .mat-form-field-infix {
    margin: 0 10%;
  }
a {
  margin-left: 12%;
}