<div class="container">
    
    <div class="text">
        <strong class="title">Mentions légales </strong> <br>
    <strong>
        Vous êtes sur le site de Reference NTIC dont l’utilisation est soumise aux présentes conditions portant « Mentions légales » et au respect de la réglementation burkinabè en vigueur.
    </strong> 
    Le site de Reference NTIC est un site d’information au service des personnes dont les données personnelles font l’objet d’un traitement. Les conditions générales ont pour objet de préciser les modalités d’utilisation du site web accessible à l’adresse www.referencentic.com Nature des informations disponibles sur le site : 
    Les informations publiées sur ce site ont un caractère indicatif. L’entreprise accorde beaucoup d’attention à la fiabilité des informations en ligne sur son site. A cet effet, elle remercie les utilisateurs de son site de lui faire part d’éventuelles omissions, erreurs, inexactitudes, questions, relatives au contenu ou à l’utilisation du site à l’adresse suivante : contact@referencentic.com.  
    Droits de propriété intellectuelle : 
    Sauf stipulation contraire, l’entreprise est titulaire des droits d’auteurs sur le contenu du site. Tous les composants de ce site Web (structure, textes, images, logos, bases de données, etc.) sont la propriété pleine et entière de l’entreprise. La reproduction de tout ou partie des contenus publiés sur le site ne pourra être faite que sous réserve du respect des conditions cumulatives suivantes: 
    <ol>
    <li>La gratuité totale de la diffusion ;</li>
    <li>La citation de la source des contenus reproduits : www.referencentic.com ; </li>
    <li>Le respect de l'intégrité des contenus reproduits.</li>
    </ol>
     
    Création de liens hypertextes vers le site www.referencentic.com : 
    La création de liens hypertextes vers le site www.referencentic.com est autorisée à des fins purement informationnelles, afférentes au droit de la protection des données personnelles et au respect de la vie privée. 
    Traitement des données à caractère personnel : 
    Tout utilisateur du site, en remplissant les formulaires mis en ligne par l’entreprise, consent et accepte que cette dernière traite les informations personnelles qui le concerne, conformément à la législation et à la réglementation en vigueur. Aucune information personnelle n’est collectée à votre insu ou cédée à des tiers. Aussi, l’entreprise offre à tout utilisateur la possibilité de demander la modification, la rectification et/ou la suppression des données le concernant en envoyant simplement un e-mail sur contact@referencentic.com  Règlement des litiges : 
    En cas de contestation sur le contenu du site de l’entreprise, le litige sera, à défaut d'accord amiable, de la compétence exclusive des tribunaux de Ouagadougou. 

    </div>
</div>