table {
    width: 600px;
  }
  .example-container {
    height: 400px;
    width: 100%;
    overflow: auto;
  }
  tr.mat-footer-row {
    font-weight: bold;
  }
  .modify {
    background: #FFFF00;
  }
  .container {
    margin-top: 10%;
    margin-bottom: 10%;
}
span.material-icons.update {
  color: black;
}