<ul class="progress-tracker progress-tracker--text">
    <li class="progress-step {{firstStep}}">
        <div class="progress-marker" data-text="1"></div>
        <div class="progress-text">
            <h4 class="progress-title">En attente</h4>
        </div>
    </li>
    <li class="progress-step {{secondStep}}">
        <div class="progress-marker" data-text="2"></div>
        <div class="progress-text">
            <h4 class="progress-title">Valider</h4>
        </div>
    </li>
    <li class="progress-step {{thirdStep}}">
        <div class="progress-marker" data-text="3"></div>
        <div class="progress-text">
            <h4 class="progress-title">Livreur en route</h4>
            <div></div>
        </div>
    </li>
    <li class="progress-step {{fourth}}">
        <div class="progress-marker" data-text="4"></div>
        <div class="progress-text">
            <h4 class="progress-title">Livrer</h4>
            <div></div>
        </div>
    </li>
</ul>
