<div class="example-container">
    <form [formGroup]="foodForm" (ngSubmit)="onSubmit(foodForm.value)">
    <mat-form-field appearance="fill">
        <mat-label>Nom du plat</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Prix</mat-label>
      <input matInput type="number" class="example-right-align" formControlName="price">
      <span matSuffix>.00 CFA</span>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;" appearance="fill">
        <mat-label>Description du plat</mat-label>
        <textarea matInput rows="2" cols="40" formControlName="description"></textarea>
    </mat-form-field>
    
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Categorie</mat-label>
        <mat-select formControlName="category">
          <mat-option value="Plat burlinabé">Plat burlinabé</mat-option>
          <mat-option value="Poulet">Poulet</mat-option>
          <mat-option value="Vennoiserie">Vennoiserie</mat-option>
          <mat-option value="Fastfood">Fastfood</mat-option>
          <mat-option value="Pizza">Pizza</mat-option>
          <mat-option value="Glace">Glace</mat-option>
          <mat-option value="Pat africain">Plat africain</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
        <input formControlName="imagePath" hidden (change)="onFileSelected()" #fileInput type="file" id="file">
      </div>
   <div class="text-center">
    <button *ngIf="!data" [disabled]="!foodForm.valid" mat-raised-button color="primary" type="submit">Ajouter</button>
    <button *ngIf="data"  mat-raised-button color="warn" type="button" (click)="updateFood(foodForm.value)" >Modifier</button>
   </div>
    </form>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Annuler</button>
  </div>