<div class="container">
    <div mat-dialog-content>
        <div class="row">
            <div class="col-md-6">
                <div class="preorder" color="warn" *ngIf="food.category==='Vennoiserie'" >
                    Nb: ce plat est uniquement disponible sur précommande !!!
                </div>
                <div class="card-image">
                    <img class="shop-cart-img" src="{{ food.imagePath }}">
                </div>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star"></span>
                
                </div>
            </div>
            
            <div class="col-md-6">
                <h1 class="food-name">Nom: {{ food.name  }} </h1>
                <h3 class="food-price" >Prix: {{ food.price | calcualate  }} CFA</h3>
                <h4 class="food-description">Description: {{ food.description  }}</h4>
                <h4 class="food-resto">Restaurant: {{ food.restaurant  }}</h4>
                <div class="quantity">
                    <span class="material-icons add" (click)="plusItem()"> add </span>
                    <span class="number-item"> {{this.itemNumber}} </span>
                    <span *ngIf="this.itemNumber > 1"  class="material-icons remove" (click)="removeItem()"> remove </span>
                </div>
                
            </div>
        </div>
    </div>
    <div class="div-btn" >
        <button class="back-btn" mat-button [mat-dialog-close]="" cdkFocusInitial>Retour</button>
        <button *ngIf="data" mat-raised-button color="warn" (click)="addFood()" >Ajouter</button>
    </div>
</div>