.shop-cart-img {
   
    max-width: 90%;
}
.fa-star {
    content: "\f005";
    color: yellow;
}
.material-icons {
    color: #f44336;
}
span.number-item {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    top: -7px;
    font-weight: bold;
}

.back-btn {
    background: black;
    color: white;
}
button {
    margin: 0 5%;
}
.div-btn {
    text-align: center;
}
@media all and ( max-width: 576px ) {
    .quantity {
        text-align: center;
    }
}
.preorder {
    font-family: fantasy;
    color: #f44336;
}