.example-form .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
mat-card-content.mat-card-content {
  text-align: center;
}
.back-btn {
  margin-right: 10%;
  background-color: black;
  color: white;
}